:root {
	--Dark-Blue: hsl(240, 38%, 20%);
	--Grayish-Blue: hsl(240, 18%, 77%);

}

body {
	font-family: 'Inter', sans-serif;
	Font-size: 24px; 
	height: 100vh;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.sliderComponent {
	box-sizing: border-box;
	width: 375px;
	background-image: url(../images/pattern-curve.svg);
	background-position: bottom;
	background-repeat: no-repeat;
}

.slider {
	box-sizing: border-box;
	padding: 40px 40px 0;
	display: flex;	
	align-items: center;
	flex-direction: column;
	z-index: 10;
	background-image: url(../images/pattern-bg.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	background-position-y: 10px;
	justify-content: center;
}

.slider__thumbnail {
	width: 100%;
	border-radius: 10px;
	box-shadow: 0 33px 37px rgba(0, 0, 0, 0.2);
}



.controlator {
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px 10px;
	border-radius: 30px;
	width: 100px;
	height: 40px;
	position: relative;
	top: -30px;
	box-shadow: 0 33px 370px rgba(0, 0, 0, 0.2);
	z-index: 50;
}

.button--resetStyles {
	background-color: transparent;
	border: none;
	position: absolute;
	width: 50%;
	height: 100%;
	cursor: pointer;
}

.controlator__left {
	left: 0;
	border-radius: 30px 0 0 30px;
}

.controlator__right {
	right: 0;
	border-radius: 0 30px 30px 0;
}

.sliderComponent__content {
	padding: 40px 0;
	text-align: center;
	background-image: url(../images/pattern-quotes.svg);
	background-repeat: no-repeat;
	background-position: top;
}

.sliderComponent__text {
	font-weight: 300;
}

.sliderComponent__name {
	font-size: 16px;
	font-weight: 700;
	margin: 0;
	color: var(--Dark-Blue);
}

.sliderComponent__ocupation {
	font-weight: 500;
	font-size: 15px;
	display: block;
	color: var(--Grayish-Blue);
}

















